@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v141/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #E3f2FD;
}
.chatbot{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 380px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatbot header{
    background: #724ae8;
    padding: 16px 0;
    position: relative;
    text-align: center;
}

.chatbot header h2{
    color: #fff;
    font-size: 1.4rem;

}

.chatbot header span{
    position: absolute;
    display: none;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    transform: translateY(-50%);
}

.chatbot .chatbox{
    height: 450px;
    overflow-y: auto;
    padding: 15px 20px 70px; 
}
.chatbox .chat{
    display: flex;
}
.chatbox .outgoing{
    justify-content: flex-end;
    margin: 7px 0;
}

.chatbox .incoming span{
    height: 32px;
    width: 32px;
    color: #fff;
    background: #724ae8;
    align-self: flex-end;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}
.chatbox .chat p{
    padding: 12px 16px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    border-radius: 10px 10px 0 10px;
    background: #724ae8;
}
.chatbox .incoming p{
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}
.chat-input textarea{
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 15px 0;
}

.chat-input span{
    color: #724ae8;
    font-size: 1.35rem;
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

.chatbot-toggler{
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 40px;
    width: 40px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #724ae8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbot-toggler span{
    position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
    opacity: 0;
}
.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .chatbot{
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0; 
    }
    .chatbot .chatbox {
        height: 90%;
    }
    .chatbot header span{
        display: block;
    }
}